body {
    background-color: #e8edf3!important;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-move {
    cursor: move;
}

.cursor-default {
    cursor: default;
}

.text-black {
    color: black;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;  
}

.h-50px {
    height: 50px;
}

.h-100px {
    height: 100px;
}

.h-150px {
    height: 150px;
}

.mh-50px {
    min-height: 50px;
}

.mh-100px {
    min-height: 100px;
}

.mh-150px {
    min-height: 150px;
}

.b-2-ddd {
    border: 2px solid #ddd;
}
  
