body {
    background-color: #e8edf3!important;
}

.cursor-pointer {
    cursor: pointer;
}

.text-black {
    color: black;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;  
}

.h-100px {
    height: 100px;
}

.h-150px {
    height: 150px;
}

.b-2-ddd {
    border: 2px solid #ddd;
}
  
