nav.navbar {
    border-bottom: 1px solid lightgray;
}

.toggle-nav {
    float: left;
    margin-left: 15px;
    margin-right: 25px;
}

.toggle-nav .icon-reorder {
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
}
