.hdiv {
  margin-left: 15px;
}

.navbar.sidebar {
  border-bottom: none;
  width: 200px;
  position: fixed;
}

.navbar.sidebar-hidden {
  display: none;
}

.navbar-expand .navbar-nav.vertical {
  flex-direction: column;
}

.nav-link-tight {
  color: rgba(0,0,0,.7);
}
